@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

body {
  overflow-x: hidden;
}

#App {
  text-align: center;
  font-family: 'Xanh Mono', monospace;
  background: #dad9de;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

span {
  float: right;
  padding: 10px;
  color: white;
}

.nav-bar {
  -moz-box-shadow:0 5px 5px rgba(182, 182, 182, 0.75);
  -webkit-box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
  height: 100px;
  margin-bottom: 0px;
  font-family: 'Xanh Mono', monospace;
}

.menu {
  color: #7263a5;
  font-size: 16px;
}


.contact {
  background-color: rgb(186, 192, 150);
  padding: 0px;
  background-size: cover;
}

.open-links {
  background-color: #7263a5;
  height: 65px;
  padding: 20px;
}

a:hover {
  color: #5d4f91;
}

.title {
  font-family: 'Xanh Mono', monospace;
  color: #dad9de;
  font-size: 40px;
  text-shadow: 1px 1px #716b87;
}

.login {
  margin-top: -60px;
  margin-right: -90px;
}

hr {
  color: #5d4f91;
}

.welcome {
  color: #7263a5;
  margin-top: -100px;
}

/* ---Sidebar css */
.btn-primary {
    border-color: #7a6eaa !important;
    background-color: #dad9de !important;
    color: #fff;
}
.shadow-md {
    box-shadow: 0px 5px 10px rgba(90, 116, 148, 0.3);
}
.navbar{
  border-radius: 5px;
}
.sidebar{
    width: 280px;
    min-height: 100vh;
    box-shadow: 0px 4px 8px rgb(0 0 0 / 16%);
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 2;
    transition: 0.5s;
}
.sidebar.active{
    left: 0;
}
.sd-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.sidebar-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    transition: 0.5s;
    opacity: 0;
    z-index: 1;
    visibility: hidden;
}
.sidebar-overlay.active{
    opacity: 1;
    visibility: visible;
}
.sd-body{
    padding: 15px;
    max-height: calc(100vh - 67px);
    overflow-x: hidden;
}
.sd-body ul{
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
    padding: 0;
}
.sd-body ul li{
    list-style: none;
    margin-bottom: 8px;
}
.sd-body ul li .sd-link{
    display: inline-block;
    width: 100%;
    padding: 10px 16px;
    color: #5d4f91;
    background-color: #e5e8ec;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #5d4f91;
}
.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5d4f91;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.invisible {
  display: none;
}

.visible {
  height: 100%;
  width: 100%;
  background: black;
  z-index: 1000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contain {
  position: relative;
}

.center {
  color: white;
  font-weight: 900;
  position: absolute;
  top: 55%;
  left: 15%;
  transform: translate(-50%, -50%);
}

.dropdown button{
  background: none;
  border: none; 
  color:#5d4f91;
  margin-top: 10px;
}

.description {
  font-size: 27px;
  padding: 60px;
  text-align: left;
  text-shadow: 1px 1px #f8614b;
}

/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1023px) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .circle {
    display: none;
  }

  .circle2 {
    display: none;
  }

  .contests {
    margin-top: -800px;
  }

  .saved-container {
    margin-top: -800px;
  }

  .saved-child {
    width: 50%;
    margin: 50px;
    vertical-align: middle;
  }

  .feedback {
    display: none;
  }
}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
  body {
    max-width: 100%;
    overflow-x: hidden;
  }

  .circle {
    display: none;
  }

  .circle2 {
    display: none;
  }
  
  .contests {
    margin-top: -350px;
  }

  .horizontal {
    font-size: 5px;
  }
}