.background {
    position: relative;
    max-width: 100%;
    overflow-x: hidden;

}

.feedback {
    background: rgba(215, 202, 202, 0.5);
    padding: 80px;
    justify-content: center;
    align-items: center;
}


