.nav-bar {
    background-color: black;
    text-align: left;
    padding: 20px;
    opacity: 70%;
}

.link {
    color: white;
    padding: 20px;
    text-decoration: none;
}

.link:hover {
    background-color: white;
    color: black;
    transition: 1s ease;
}


.donate {
    margin-left: 850px;
    text-align: right;
}

label {
    padding: 3px;
}

input {
    padding: 3px;
    margin: 2px;
}

.description {
    margin-top: 50px;
    margin-left: 30px;
    width: 65%;
    text-align: left;
    padding: 40px;
}

